<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      {%- include about.html -%}

      {%- if site.data.experience.size > 0 -%}
        {%- include experience.html -%}
      {%- endif -%}

      {% assign skills = site.data.data.skills %}
      {% if skills %}
      <section class="skills-section section">
      
        <h2 class="section-title">
          <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
          </span>
          {{ skills.title }}
        </h2>
      
        <div class="skillset">
      
          {% for skill in skills.toolset %}
          <div class="item">
      
            <h3 class="level-title">{{ skill.name }}</h3>
      
            <div class="level-bar">
              <div class="level-bar-inner" data-level="{{ skill.level }}">
              </div>
            </div><!--//level-bar-->
      
          </div><!--//item-->
          {% endfor %}
      
        </div>
      
      </section><!--//skills-section-->
      {% endif %}

      {%- if site.data.education.size > 0 -%}
        {%- include education.html -%}
      {%- endif -%}

      {%- if site.data.projects.size > 0 -%}
        {%- include projects.html -%}
      {%- endif -%}


    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>